:root {
    --color-page: rgba(249, 248, 253, 255);
    --color-main-text: rgba(34, 37, 59, 1);
    --color-text: rgba(255, 255, 255, 1);
    --color-blocks: rgba(255, 255, 255, 0.9);
    --color-phone: rgba(56, 191, 242, 1);

    --color-button: rgba(241, 85, 37, 1);
    --color-card:  rgba(255, 255, 255, 1);
    --color-bckg-icon: rgba(34, 37, 59, 1);

    --border-input: #C6C7C7;
    --border-radius: 75px;
    --border-radius-learning-card: 30px;

    --font-family: 'Gilroy', 'sans-serif';

    --container-width: 1116px;
    --container-width-learning: 1161px;
    --container-padding-x: 13px;
    --main-featured-padding-y: 60px;

    --button-height: 70px;

    --transition-duration: 0.2s;
}